body {
    background: grey;
    display: flex;
    margin: 1em;
}


.page {
    flex: 1;
    position: relative;
}

#page1 {
    border-right: 2px dotted black;
}

#page2 {
    margin-left: 10px;
}


.imp {
    position: absolute;
    right: 10px;
    bottom: 0;
    border: 6px solid #fcba03;
    border-radius: 10px 100px / 120px;


}

table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 50px;
}


caption {
    text-align: left;
}

#infos td {
    border : 2px solid aqua;
}


#infos {
    border-collapse: separate;
    border-spacing : 20px;

}



#crea_prdt th, #crea_prdt td{
    border: 3px solid black;
}


#liste_prdt th, #liste_prdt td{
    border: 3px dotted darkgrey;
}

.div_bouton {
    margin-right: 5px;
    text-align: right;
}
